.item1{
    background-image: url(Highlight-Bing-AI-Open-Preview_VP4-1399x600.avif);
    height:90vh;
    
}
.item1-content{
    width: 400px;
}
.text{

}
.mobile-text{
    width: 400px;
    margin-left: 30px;
}